<!doctype html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="stylesheet" href="/assets/css/pico.min.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" />
        <title>Super App</title>
    </head>
    <body>
        <main class="container">
            {% block content %}
            <p>Placeholder content</p>
            {% endblock %}
        </main>
    </body>
</html>
